header{
    background-color: #e91e63;
    padding: 15px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .nav span{
    margin-left: 20px;
    padding: 20px;
}